*{
    margin: 0;
    padding: 0;
}
.bg-color{
    background-color: rgb(245, 245, 245);
}
/* nav style start */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    padding: 0 120px;
}
nav h1{
    font-size: 32px;
    font-weight: 700;
}
.btn{
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px;
}
.btn:hover{
    background-color: rgb(0, 106, 80);
    color: white;
}

/* nav style end */

/* Banner style start */

.banner{
    width: 1150px;
    height: 500px;
    background-color: rgb(198, 228, 214);
    margin: 0 auto;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 55px;
}
.banner-sub{
    font-size: 22px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.banner-title{
    font-size: 50px;
    font-weight: 700;
    color: black;
    margin-top: 25px;
}
.banner-btn{
    background-color: rgb(0, 106, 80);
    color: white;
    border-radius: 8px;
    padding: 15px 30px;
    border: none;
    margin-top: 25px;
}
.banner-btn:hover{
    background-color: white;
    color: black;
}
.banner img{
    width: 440px;
    padding-right: 55px;
}
/* Banner style end */

/* pillars of bangladesh start */
.pillar-of-bd{
    width: 1150px;
    margin: 80px auto;
}
.pillar-of-bd>h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
}
.pillars{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pillar{
    width: 210px;
    background-color:rgb(255, 255, 255) ;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 12px;
    padding: 20px 30px;
    gap: 15px;
}
.pillar-card-title{
    font-size: bold;
}

/* pillars of bangladesh end */

/* vision section start */
.vision-bd{
    width: 1150px;
    margin: 80px auto;
}
.vision-bd>h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
}
.vision-bd>p{
    margin-bottom: 40px;
}
.visions{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vision{
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 40px 18px;
    border-radius: 12px;
}
#vision-1{
    background-color: rgba(84, 144, 245, 0.2);
}
#vision-2{
    background-color: rgb(198, 228, 214);
}
#vision-3{
    background-color: rgb(247, 235, 207);
}
.vision-title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;
}
.vision-dis{
    margin: 10px 0;
    color: rgba(14, 14, 14, 0.7) ;
}
.vision-btn{
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 18px;
    border: none;
}
#vision-btn-1:hover{
    background-color: white;
    color: black;
}
#vision-btn-1{
    background-color: rgb(84, 144, 245);
}
#vision-btn-2{
    background-color: rgb(9, 161, 92);
}
#vision-btn-2:hover{
    background-color: white;
}
#vision-btn-3{
    background-color: rgb(255, 194, 57);
}
#vision-btn-3:hover{
    background-color: white;
}

/* vision section end */

/* quote section start */
.quote-section{
    width: 1100px;
    background-image: url("/assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background-color: white;
    margin: 80px auto;
    border-radius: 12px;
    border: 1px solid #f1efef;
    padding: 40px 20px;
}
.quote-text{
    margin-bottom: 20px;
    font-size: bold;
}
.quote-writer{
    margin-bottom: 5px;
}

/* quote section end */

/* opinion section start */
.opinion-section{
    width: 1150px;
    margin: 80px auto;
}
.opinion-section>h3{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
}
.opinion-section .table{
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px 30px;
}
.opinion-section table{
    width: 1100px;
    border-collapse: collapse;
}

.opinion-section table td{
    border: 1px solid #dad8d8;
    padding: 20px 20px;
    background-color: white;
}
.opinion-section table td select{
    padding: 10px 22px;
    background-color: #C6E4D6;
    border-radius: 8px;
    margin: 0 auto;
}
/* opinion section end */

/* news section start */
.recent-news{
    width: 1150px;
    margin: 80px auto;
}
.recent-news .recent-news-title{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 40px;
}
.recent-news .recent-news-sub{
    margin-bottom: 30px;
}
.recent-news-cards{
    margin-top: 30px;
}
.recent-news-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    gap: 40px;
    border-radius: 20px;
    margin-top: 30px;
}
.satelite-img{
    border-radius: 20px;
    padding: 30px;
}
.satelite-img img{
    border-radius: 20px;
}
.recent-news-card-text{
    padding: 30px;
}
.recent-news-card-title{
    font-size: 32px;
    color: #0E0E0E;
    margin-bottom: 20px;
}
.recent-news-card-text > p{
    margin-top: 10px;
}
.recent-news-card-dis{
    margin: 10px 0;
    color: #0E0E0E;
}

/* news section end */